## Preprocessing

In [ ]:
# import important libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

# Set the maximum column width to None, so that columns can expand to fit their content
pd.set_option('display.max_colwidth', None) 

# Set the maximum number of displayed columns to None, allowing all columns to be shown without truncation
pd.set_option('display.max_columns', None)


df_20_21 = pd.read_csv('diemthi_thpt_2020_2024/diem_thi_2020_2021.csv')
df_22 = pd.read_csv('diemthi_thpt_2020_2024/diem_thi_thpt_2022.csv')
df_23 = pd.read_csv('diemthi_thpt_2020_2024/diem_thi_thpt_2023.csv')
df_24 = pd.read_csv('diemthi_thpt_2020_2024/diem_thi_thpt_2024.csv')

df_20_21.sort_values(by ='SBD', ascending = True).head() # sort the values of df_20_21 by the Student_ID and assceding take the first 5 value
df_22.sort_values(by ='sbd', ascending = True).head() # sort the values of df_22 by the Student_ID and assceding take the first 5 value
df_23.sort_values(by ='sbd', ascending = True).head() # sort the values of df_23 by the Student_ID and assceding take the first 5 value
df_24.sort_values(by ='sbd', ascending = True).head() # sort the values of df_24 by the Student_ID and assceding take the first 5 value


df_20_21["ForeignCode"] = 'None'
df_22["ForeignCode"] = 'None'
df_22["Year"] = "2022"
df_23["Year"] = "2023"
df_24["Year"] = "2024"


df_20_21 = df_20_21[["SBD","Toán","Văn","Ngoại Ngữ","Lý","Hoá","Sinh","Lịch Sử","Địa Lý","GDCD", "ForeignCode","Year"]]

df_20_21.columns = ["Student_ID", "Math", "Literature", "Foreign Language", "Physics", "Chemistry", "Biology", "History", "Geography", "Civic Education", "ForeignCode", "Year"]

df_22.columns = ["Student_ID", "Math", "Literature", "Foreign Language", "Physics", "Chemistry", "Biology", "History", "Geography", "Civic Education", "ForeignCode", "Year"]

df_23.columns = ["Student_ID", "Math", "Literature", "Foreign Language", "Physics", "Chemistry", "Biology", "History", "Geography", "Civic Education", "ForeignCode", "Year"]

df_24.columns = ["Student_ID", "Math", "Literature", "Foreign Language", "Physics", "Chemistry", "Biology", "History", "Geography", "Civic Education", "ForeignCode", "Year"]

/var/folders/7x/1c_g2v5s46gd3rpq1b_zrd1r0000gn/T/ipykernel_63176/994523686.py:14: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_20_21 = pd.read_csv('diemthi_thpt_2020_2024/diem_thi_2020_2021.csv')

In [3]:
df_all_data =(
    pd.concat([df_20_21, df_22, df_23, df_24], ignore_index=True))
df_all_data.info()
# Read the CSV file into a dataframe 'df_province'
df_province = pd.read_csv('diemthi_thpt_2020_2024/diem_thi_2020_2021.csv')

# Create a new dataframe 'df_code' containing only the 'code' and 'province' columns from 'df_province', dropping duplicate rows
df_code = df_province[['code', 'province']].drop_duplicates()

# Convert the 'code' column in 'df_code' to string type
df_code['code'] = df_code['code'].astype(str)

# Sort the 'df_code' dataframe by the 'code' column in ascending order
df_code.sort_values(by='code', ascending=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4936983 entries, 0 to 4936982
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   Student_ID        int64
 1   Math              float64
 2   Literature        float64
 3   Foreign Language  float64
 4   Physics           float64
 5   Chemistry         float64
 6   Biology           float64
 7   History           float64
 8   Geography         float64
 9   Civic Education   float64
 10  ForeignCode       object
 11  Year              object
dtypes: float64(9), int64(1), object(2)
memory usage: 452.0+ MB

/var/folders/7x/1c_g2v5s46gd3rpq1b_zrd1r0000gn/T/ipykernel_63176/3893372647.py:5: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_province = pd.read_csv('diemthi_thpt_2020_2024/diem_thi_2020_2021.csv')

       code     province
20857     1       Hà Nội
348763   10     Lạng Sơn
337052   11      Bắc Kạn
41516    12  Thái Nguyên
4830     13      Yên Bái
...     ...          ...
37962    63     Đăk Nông
356520   64    Hậu Giang
715703    7     Lai Châu
37961     8      Lào Cai
451794    9  Tuyên Quang

[63 rows x 2 columns]

In [4]:
# create a function to add code province
# Define a function 'provide_code' that takes an input 'x' and returns a specific portion of 'x' based on its length
def province_code(x):
    # If the string representation of 'x' has a length of 7, return the first character
    if len(str(x)) == 7:
        return str(x)[0]
    # Otherwise, return the first two characters of the string representation of 'x'
    return str(x)[:2]

# Apply the 'province_code' function to the 'Student_ID' column of 'df_all_data' and create a new column 'province_code' with the results
df_all_data["province code"] = df_all_data['Student_ID'].apply(province_code)

In [5]:
# Merge 'df_all_data' with 'df_code' on the 'province_code' column from 'df_all_data' and the 'code' column from 'df_code'
# Perform a left join to ensure all rows from 'df_all_data' are included in the resulting dataframe 'df_data_map'
df_data_map = (
    pd.merge(df_all_data, df_code, left_on='province code', right_on='code', how='left')
)

# Count the number of non-NA/null entries for each column in 'df_data_map'
df_data_map.count()

Student_ID          4936983
Math                4875444
Literature          4870458
Foreign Language    4304415
Physics             1636638
Chemistry           1644189
Biology             1620819
History             3252369
Geography           3227958
Civic Education     2718405
ForeignCode         4647020
Year                4936983
province code       4936983
code                4936983
province            4936983
dtype: int64

## Predict growth rate of student student next year

          Student_ID  Year   province          Subject  Score
0           18014547  2020  Bắc Giang             Math   6.40
1           18014530  2020  Bắc Giang             Math   7.60
2           18014521  2020  Bắc Giang             Math   4.80
3           18014517  2020  Bắc Giang             Math   8.00
4           18014523  2020  Bắc Giang             Math   8.20
...              ...   ...        ...              ...    ...
44432840    64007280  2024  Hậu Giang  Civic Education   6.00
44432842    64007282  2024  Hậu Giang  Civic Education   7.50
44432843    64007283  2024  Hậu Giang  Civic Education   7.75
44432845    64007285  2024  Hậu Giang  Civic Education   8.75
44432846    64007286  2024  Hậu Giang  Civic Education   8.25

[28150695 rows x 5 columns]